/* @override http://www.scitec.edu.mx/css/menu.css */

/* @group menu */

#menu{
	margin-top: 20px;
}

ul.navigation {
	margin: 0;
}

ul.navigation, ul.navigation ul {
	list-style-type: none;
	font-size: 15px;
}

ul.navigation > li a:link, ul.navigation > li a:visited{
	color: #3c3c3c;
	padding-left: 10px;
	/*padding: 8px;*/
}

ul.navigation  li a{
	padding: 10px 0;
	background: url(../images/normalmenu.jpg) no-repeat;
}

ul.navigation li a#menu-des{
	height: 15px;
	background: url(../images/buttonmenu.jpg) no-repeat;
	background-position: top;
}

ul.navigation a{
	display: block;
	text-decoration: none;
}

ul.navigation ul li a{
	background-color: #00b9ff;
	background-image: none;
}

ul.navigation ul li a:link, ul.navigation ul li a:visited{
	color: white;
}

/* @end */