/* @override http://www.scitec.edu.mx/css/scitec_style.css */

html body {
	background: white url(../images/background.jpg) repeat-x;
	font-family: Arial, Helvetica, Geneva, sans-serif;
	font-size: 12px;
}

#head_titlePanel p{
	height: 30px;
	color: white;
	text-align: center;
	font-size: 15px;
	background: url(../images/title_info.png) no-repeat;
	font-variant: small-caps;
}

#content{
	height: 30px;
	background: #f0f0f0 url(../images/title_cont.png) no-repeat;
}

/* @group header */

#logo{
	height: 130px;
	background: url(../images/logo.png) no-repeat;
}

#banner{
	height: 130px;
}
/* @end */

/* @group contenido */

/* @group Zend Form */

label {
	text-align: right;
	float: left;
	margin-right: 15px;
}

input#Agregar,
input#Entrar{
	float: right;
}
dl.zend_form {
	width: 550px;
	position: absolute;
	left: 100px;
}

fieldset label {
	width: 124px;
	margin-top: 12px;
	font-size: 13px;
}

fieldset dd {
	padding: 6px 5px;
}

dd#general-element,
dd#address-element,
dd#school-element {
	border: 5px solid #e9e9e9;
}

fieldset dl {
	margin: auto 30px;
}

form#Alumno {
	padding: 0px 20%;
}

ul.errors li{
	color: red;
}

input:focus{
	border-style: solid;
	border-color: #6ddcff;
}

#contenido legend {
	color: #00728b;
	font-size: 20px;
	padding-top: 10px;
	text-align: center;
}



/* @end */

#content {
	color: #7b7b7b;
	text-align: justify;
	height: 600px;
	overflow: auto;
	background-color: #fbffff;
	margin-top: 20px;
}

#breadcrumb {
	color: #000;
	height: 30px;
	font: small-caps 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#bred{
	height: 22px;
	padding-top: 8px;
}

#contenido {
	margin: 0px 10px;
	padding-bottom: 10px;
}

#breadcrumb a:link, #breadcrumb a:visited{
	color: #fc5900;
	font-style: italic;
	text-decoration: none;
}

#breadcrumb a:hover{
	color: #f9faf8;
	text-decoration: underline;
}

#content h1 {
	color: #ffffff;
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding-bottom: 20px;
	font: small-caps 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* @end */



#footer{
	color: white;
	text-align: center;
	font-size: 10px;
	height: 134px;
	background: url(../images/footer.png) no-repeat;
}

#footer a:link {
	color: black;
}
#wrapper {
	padding-top: 0px;
	padding-bottom: 20px;
	z-index: -1;
	background-color: #fffeff;
}

#error_privilegios {
	color: red;
	background: url(../images/stop.png) no-repeat;
}

#error_privilegios h1 {
	padding-left: 100px;
	font-size: 50px;
}

#error_privilegios h6 {
	padding-left: 100px;
	font-size: 30px;
}

/* @group Leffpanel */

#leftpanel{
	font-size: 9px;
	margin-top: 20px;
}

#content_leftpanel{
	background-color: #f0f0f0;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}


/* @end */