/* @override http://www.scitec.edu.mx/css/scitec_style.css */
html body {
	background: white url(../images/background.jpg) repeat-x;
	font-family: Arial, Helvetica, Geneva, sans-serif;
	font-size: 12px;
}

/* @group header */

#logo{
	height: 119px;
	background: url(../images/logo.png) no-repeat;
}

/* @end */

/* @group Menu */

#topnav {
	height: 28px;
	background-color: #ff4100;
	background-image: url(../images/menu.png);
}

ul.navigation {
	padding: 8px 0px 6px 0px;
	list-style: none;
}

ul.navigation li{
	/*display: inline;*/
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
	position: relative;
}

ul.navigation li a{
	padding: 5px 0px;
}

ul.navigation li a:link, ul.navigation li a:visited{
	color: #f3f3f3;
	text-decoration: none;
}

ul.navigation li a:hover {
	color: #ff5700;
}

ul.navigation li:hover {
	background-color: black;
}

ul.navigation li.active a{
	color: black;
	font-weight: bold;
}

ul.navigation li.active{
	background-color: white;
}

ul.navigation ul{
	display: none;
	position: absolute;
	top: -1px;
	color: black;
	list-style: none;
	background-color: #de9860;
}

ul.navigation ul li a:link, ul.navigation ul li a:visited {
	color: white;
}

ul.navigation ul li.active {
	background-color: #de9860;
}

ul.navigation li:hover > ul{
	display: block;
}

ul.navigation > li > ul {
	position: absolute;
	left: 0px;
	top: 25px;
	display: none;
	list-style: none;
}

ul.navigation > li {
	display: inline;
}

/* @end */

/* @group contenido */

#content {
	color: #7b7b7b;
	text-align: justify;
	height: 400px;
	overflow: auto;
}

#breadcrumb {
	margin-left: 10px;
	color: #008711;
	margin-bottom: 15px;
	padding-top: 5px;
	font-variant: small-caps;
}

#contenido {
	margin: 0px 10px;
	padding-bottom: 10px;
}

#breadcrumb a:link{
	color: #f50;
}

#content h1 {
	color: #ff4100;
	font-size: 150%;
	text-align: center;
	margin: 0px 0px 10px 0px;
}

#contenido legend {
	color: #00728b;
	font-size: 20px;
	padding-top: 10px;
	text-align: center;
}

/* @end */



#footer{
	color: white;
	background-color: gray;
	padding: 30px 0;
	text-align: center;
	font-size: 10px;
}

#footer a:link {
	color: black;
}

label {
	text-align: right;
	float: left;
	margin-right: 15px;
}

input#Agregar,
input#Entrar{
	float: right;
}
dl.zend_form {
	width: 400px;
}

fieldset label {
	width: 124px;
	margin-top: 12px;
}

fieldset dd {
	padding: 6px 5px;
}

fieldset dl {
	margin: auto 30px;
}

form#Alumno {
	padding: 0px 20%;
}

dd#general-element,
dd#address-element,
dd#school-element {
	border-top: 5px double #797979;
}

ul.errors li{
	color: red;
}